
@model cloudscribe.Pagination.Models.PagedResult<Bike>

@{
    ViewData["Title"] = "Index";
    ViewData["Controller"] = "Bike";
    ViewData["Action"] = "Index";
}

<h1>All Bikes</h1>
@if (User.IsInRole("Admin"))
{<p class="text-right">
        <a class="btn btn-outline-secondary text-right" asp-action="Create"><i class="fas fa-motorcycle"></i> &nbsp; Add New Bike</a>
    </p>

}

<p class="text-success">@TempData["success"]</p>

<form asp-action="Index" method="get">

    <div class="input-group text-left col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Find Make</span>
        </div>
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="searchString" value="@ViewBag.CurrentsearchString" />
        <button type="submit" class="btn btn-outline-secondary">search</button>
        @if (!string.IsNullOrEmpty(ViewBag.CurrentsearchString))
        {
    <a asp-action="Index" class="text-sm-center">&nbsp;|&nbsp;<i class="fas fa-undo-alt"></i></a>

        }
       
    </div>


</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Bike Photo
            </th>
            <th>
                Bike Details
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewBag.PriceSortParam"
                   asp-route-pageNumber="@Model.PageNumber">Price</a>
            </th>
            <th>
                Seller Information
            </th>
            @if (User.IsInRole("Admin"))
            {


                <th>
                    CRUD
                </th>

            }
            else
            {
                <th>
                    View Details
                </th>
             }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
        <tr>
            <td>
                @if (item.ImagePath == null)
                {
                    <img src="~/Images/Harley.jpg" width="150px" height="100px" />
                }
                else
                {
                    <img src="@Html.DisplayFor(m=>item.ImagePath)" width="150px" height="100px" />
                }
            </td>
            <td>
                <b>@Html.DisplayFor(m => item.Make.Name) (@Html.DisplayFor(m => item.Year))</b><br />
                <b>Model: </b> @Html.DisplayFor(m => item.Model.Name)  <br />
                <b>Mileage:</b> @Html.DisplayFor(m => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(m => item.Price)  @Html.DisplayFor(m => item.Currency)
            </td>
            <td>
                <b>Name:</b> @Html.DisplayFor(m => item.SellerName) <br />
                <b>Email:</b> @Html.DisplayFor(m => item.SellerEmail) <br />
                <b>Phone:</b> @Html.DisplayFor(m => item.SellerPhone)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {

                    <div style="display:inline-flex">
                        <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-user-edit">&nbsp; Edit</i></a> &nbsp;
                        <form method="post" asp-action="Delete">
                            <button onclick="if (!confirm('Are you sure you want to delete this')) return false" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i>&nbsp; Delete</button>
                        </form>
                    </div>

                }
                else
                {
                    <a class="btn btn-outline-success" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye">&nbsp; View</i></a>

                }
            </td>

        </tr>
        }
    </tbody>
</table>
<partial view-data="ViewData" name="_PaginationPartial" model="Model" />
@if (Model.Data.Count() <= 0)
{
    <p class="text-danger">There is no bikes to be shown !!</p>
}

